/***********************************/
/**           GENERAL             **/
/***********************************/
html {
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #f9fafc;
}
h1, h3 {
    color: #000;
    font-weight: 500;
}
p {
    color: #69696a;
    border-left: 2px solid rgba(105,105,106, 0.4);
    padding-left: 20px;
    line-height: 1.5;
}
.major-container {
    margin-left: 30px;
    margin-right: 30px;
}
/***********************************/
/**           HEADER              **/
/***********************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

a {
    padding: 10px;
    text-decoration: none;
    color: #69696a;
}
nav a:hover {
    color: #f9fafc;
    background-color: #000;
    border-radius: 20px;
    padding: 10px 25px;
}

/***********************************/
/**            MAIN               **/
/***********************************/

.content {
    display: flex;
}
.main {
    flex: 50%;
    margin-top: 200px;
}
h1 {
    font-size: 2.5em;
}

/***********************************/
/**           CIRCLES             **/
/***********************************/

.circ-container {
    position: relative;
    flex: 50%;
}
.circle {
    position: absolute;
    border-radius: 50%;
}
.purple {
    background-color: rgba(207, 130, 213, 0.6);
    width: 200px;
    height: 200px;
    top: 250px;
    right: 0px;
    z-index: 3;
}
.peach {
    background-color: rgba(247, 193, 162, 0.7);
    width: 300px;
    height: 300px;
    top: 400px;
    right: 0px;
    z-index: 4;
}
.salmon {
    background-color: rgba(247, 136, 167, 0.6);
    width: 400px;
    height: 400px;
    top: 220px;
    right: 125px;
    z-index: 2;
}

/***********************************/
/**            BUTTON             **/
/***********************************/

button {
    font-size: 1em;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    color: #f9fafc;
    background-color: #000;
    border-radius: 20px;
}
button:hover {
    cursor: pointer;
}